@import "../../App.scss";

.handle-layout {
  .header {
    padding-inline: 16px;
    background-color: $whiteColor;

    .header_information {
      display: flex;
      justify-content: end;
    }

    .header_title {
      align-self: center;
      h2 {
        margin: 0 auto;
        color: $mainColor;
      }
    }
  }

  .content {
    overflow: initial;
    background-color: transparent;
    border-radius: 100;

    &-wrapper {
      width: 100%;
      height: 100%;
      padding: 16px;
      border-radius: 16px 0 0 0;
      background-color: #f3f3fb;
    }
  }
}
