@import "../../App.scss";

.ant-layout-sider {
  height: 100vh;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: $whiteColor;

  .logo-wrapper {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    text-align: center;

    img {
      max-width: 160px;
      height: auto;
      object-fit: scale-down;
    }
  }

  .category {
    width: calc(100% - 8px);
    padding-left: 24px;
    margin-inline: 4px;
    color: $mainColor;
    font-weight: 500;
    font-size: smaller;
    padding-block: 20px;

    &.others {
      margin-top: 10px;
    }
  }
}
