@import "../App.scss";

.handle-layout {
  .ant-menu-title-content {
    color: $mainColor;
    font-weight: 600;
  }
  .category {
    width: calc(100% - 8px);
    padding-left: 24px;
    margin-inline: 4px;
    color: $mainColor;
    font-weight: 500;
    font-size: smaller;
    padding-block: 20px;

    &.others {
      margin-top: 10px;
    }
  }

  // .ant-menu-light .ant-menu-submenu-selected {
  //   .ant-menu-item {
  //     color: $mainColor;
  //     background-color: $whiteColor;
  //   }
  // }

  // .menu-selected {
  //   background-color: $mainColor;
  //   color: $whiteColor;
  // }

  // .menu-no-selected {
  //   background-color: inherit;
  //   color: inherit;
  // }

  // .ant-menu-item-selected {
  //   background-color: $mainColor;
  //   color: $whiteColor;

  //   .ant-menu-title-content {
  //     color: $whiteColor;
  //   }

  //   //   .ant-menu-submenu-title {
  //   //     background-color: $mainColor;
  //   //   }
  // }

  // .ant-menu-submenu-selected {
  //   .ant-menu-submenu-title.ant-menu-item-selected {
  //     background-color: $mainColor;
  //     color: $whiteColor;
  //   }
  // }

  .ant-menu-submenu .ant-menu-submenu-title.selected,
  .ant-menu-submenu-open .ant-menu-submenu-title.selected {
    background-color: $mainColor !important;
    color: $whiteColor !important;

    .ant-menu-title-content {
      color: $whiteColor;
    }
  }

  li:has(.ant-menu-item.ant-menu-item-selected) {
    .ant-menu-submenu-title {
      background-color: $whiteColor;
      color: $mainColor;

      .ant-menu-title-content {
        color: $mainColor;
      }
    }
  }

  li.ant-menu-item-selected:not(:has(.ant-menu-submenu-title)) {
    background-color: $mainColor;
    color: $whiteColor;

    .ant-menu-title-content {
      color: $whiteColor;
    }
  }

  .header {
    .header_information {
      display: flex;
      justify-content: end;
    }

    .header_title {
      align-self: center;
      h2 {
        margin: 0 auto;
        color: $mainColor;
        font-family: initial;
      }
    }
  }
}
