@import "../App.scss";

.handle-layout {
  .ant-menu-title-content {
    color: $mainColor;
    font-weight: 600;
  }
  .category {
    width: calc(100% - 8px);
    padding-left: 24px;
    margin-inline: 4px;
    color: $mainColor;
    font-weight: 500;
    font-size: smaller;
    padding-block: 20px;

    &.others {
      margin-top: 10px;
    }
  }

  .ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
    background-color: $mainColor;
    color: inherit;

    .ant-menu-title-content {
      color: $whiteColor;
    }
  }

  .menu-selected {
    background-color: $mainColor;
    color: $whiteColor;
  }

  .menu-no-selected {
    background-color: inherit;
    color: inherit;
  }

  .ant-menu-item-selected {
    background-color: $mainColor;
    color: $whiteColor;

    .ant-menu-title-content {
      color: $whiteColor;
    }

    .ant-menu-submenu-title {
      background-color: $mainColor;
    }
  }

  .header {
    .header_information {
      display: flex;
      justify-content: end;
    }

    .header_title {
      align-self: center;
      h2 {
        margin: 0 auto;
        color: $mainColor;
        font-family: initial;
      }
    }
  }
}
